@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ac-theme-color: #ffffff;
    --blue-400: #4489f6;
    --blue-500: #0070f3;
  }
}

@layer utilities {
  @media (prefers-color-scheme: dark) {
    :root {
      --ac-theme-color: #333333;
    }
  }
}


input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
